In [14]:
# Import Dependencies
import pandas as pd
import os

In [15]:
csv_path = os.path.join('clean_hawaii_measurements.csv')
clean_hawaii_measurements_df = pd.read_csv(csv_path)

clean_hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [16]:
csv_path = os.path.join('clean_hawaii_stations.csv')
clean_hawaii_stations_df = pd.read_csv(csv_path)

clean_hawaii_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [17]:
#Use the engine and connection string to create a database called hawaii.sqlite.
#Use declarative_base and create ORM classes for each table.
#You will need a class for Measurement and for Station.
#Make sure to define your primary keys.
#Once you have your ORM classes defined, create the tables in the database using create_all.

In [19]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.orm import Session

In [20]:
#Use declarative_base and create ORM classes for each table.
#You will need a class for Measurement and for Station.
class Measurement(Base):
    __tablename__ = "clean_hawaii_measurements"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [21]:
class Station(Base):
    __tablename__ = "clean_hawaii_stations"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column (String)
    latitude = Column(Float)
    longitude = Column(Float) 
    elevation = Column(Float)

In [22]:
engine = create_engine('sqlite:///hawaii.sqlite')
connection = engine.connect()

In [23]:
Base.metadata.create_all(engine)
session = Session(bind=engine)

In [24]:
clean_hawaii_measurements_df.to_sql('clean_hawaii_measurements',connection,if_exists="append", index=False)

In [25]:
clean_hawaii_stations_df.to_sql('clean_hawaii_stations',connection,if_exists="append", index=False)

In [26]:
engine.table_names()

['clean_hawaii_measurements', 'clean_hawaii_stations']

In [27]:
connection.execute('SELECT * FROM clean_hawaii_measurements LIMIT 10').fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70),
 (6, 'USC00519397', '2010-01-08', 0.0, 64),
 (7, 'USC00519397', '2010-01-09', 0.0, 68),
 (8, 'USC00519397', '2010-01-10', 0.0, 73),
 (9, 'USC00519397', '2010-01-11', 0.01, 64),
 (10, 'USC00519397', '2010-01-12', 0.0, 61)]

In [28]:
connection.execute('SELECT * FROM clean_hawaii_stations LIMIT 10').fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6),
 (6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5),
 (7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999995, 32.9),
 (8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4),
 (10, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)]