In [1]:
# Import Dependencies
import pandas as pd
import os

In [2]:
csv_path = os.path.join('Resources', 'hawaii_measurements.csv')
hawaii_measurements_df = pd.read_csv(csv_path)

hawaii_measurements_df.dtypes
hawaii_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
hawaii_measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [4]:
csv_path = os.path.join('Resources', 'hawaii_stations.csv')
hawaii_stations_df = pd.read_csv(csv_path)
hawaii_stations_df.head()
hawaii_stations_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [5]:
hawaii_stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [6]:
#Inspect the data for NaNs and missing values. You must decide what to do with this data
clean_hawaii_measurements_df= hawaii_measurements_df.dropna(how="any")
clean_hawaii_measurements_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [7]:
clean_hawaii_measurements_df.to_csv("clean_hawaii_measurements.csv",index=False, header=True)

In [8]:
clean_hawaii_stations_df= hawaii_stations_df.dropna(how="any")
clean_hawaii_stations_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [9]:
clean_hawaii_stations_df.to_csv("clean_hawaii_stations.csv",index=False, header=True)

In [10]:
merge_hawaii_db = pd.merge(clean_hawaii_measurements_df, clean_hawaii_stations_df, on="station")
merge_hawaii_db.head()

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-07,0.06,70,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [11]:
merge_hawaii_db.to_csv("merge_hawaii_db.csv",index=False, header=True)